<header data-bs-theme="dark">
    <nav class="navbar navbar-expand-md  fixed-top header">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_home') }}"><img class="logo" src="{{ asset('assets/images/logo.png') }}"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item linkMenu">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
                    </li>
                    {% for category in allCategories %}
                        <li class="nav-item linkMenu">
                            <a class="nav-link" href="{{ path('app_category', { slug : category.slug }) }}"> {{ category.name }} </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="speed-menu">
                    {% if app.user %}
                        <a href="{{ path('app_account') }}"><i data-feather="user"></i> {{ app.user.firstName }}</a>
                    {% else %}
                        <a href="{{ path('app_login') }}"><i data-feather="user"></i></a>
                    {% endif %}
                    <a href="{{ path('app_cart') }}">
                        <i data-feather="shopping-cart"></i>
                        <span class="badge text-bg-light"> {{fullcartQuantity}} </span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>
